/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --heading-color:#DB00FF;
  --accent-color: #FF0070;
  --dark-color: #000028;
  --paragraph-text-color: #F1B2CE;
  --button-color-case: #d6cace;
  --outline-color: #ff78b3;
  --button-hover-color: #ff9dc8;
  --shadow-head-color: var(--accent-color);
  --text-color: var(--dark-color);
  --question-color: var(--accent-color);
  --border-color: var(--accent-color);
  --button-color: var(--accent-color);
  --border-hover-color: var(--paragraph-text-color);
  --button-active-color: var(--accent-color);
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --font-normal: normal;
  --font-bold: bold;
  --line-height: 23.4px;
}